<div>
    {{ localize "TURN.TurnLabel" }}: {{ CurentTurn }}
</div>
<div>
    {{ localize "TURN.PhaseLabel" }}: {{ CurentPhase }}
</div>
<div>
    <button>
        {{ localize "TURN.NextBtnLabel" }}
    </button>
</div>